/*------------------------------
 * Copyright 2016 Themejumbo
 * http://www.themejumbo.com
 *
 * Billboard theme v1.2
------------------------------*/

/*------------------------------
	MAIN
------------------------------*/

body {
	font-family:'Source Sans Pro', sans-serif;
	color:#FFFFFF;
}	

a {
	color:#FFFFFF;
	transition:all 1s;
}

a:focus,
a:hover {
	outline:0 none;
	text-decoration:none;
	color:#FFFFFF;
}

/*------------------------------
	BUTTONS
------------------------------*/

.btn {
	font-size:16px;
	padding:10px 20px;
}

.btn-primary {
	background-color:transparent;
	border:1px solid #FFFFFF;
}

.btn-primary:focus,
.btn-primary:hover {
	background-color:rgba(0,0,0,0.4);
	border-color:#FFFFFF;
}

/*------------------------------
	CONTENT
------------------------------*/

.content {
	padding:20px 0 0;
	text-align:center;
}

.content h1 {
	font-size:24px;
	font-weight:100;
	letter-spacing:1px;
}

.content h2 {
	font-size:80px;
	font-weight:100;
	margin:0 0 20px;
}

.content p {	
	font-weight:300;
	font-size:24px;
	margin:0;
}

.content p span {
	font-weight:400;
}

.content .btn {
	margin-top:20px;
}

.content .line {
    display:block;
    margin:28px 0;
    position:relative;
    text-align:center;
}

.content .line h3 {
	font-weight:100;
	font-size:40px;
	margin:20px 0;
}

.content .line:before, 
.content .line:after {
    background-color:rgba(255,255,255,0.9);
    content:"";
    height:1px;
    max-width:400px;
	width:400px;
    position:absolute;
    top:25px;
}

.content .line:before {
    left:0;
}

.content .line:after {
    right:0;
}

@media (min-width:1600px) {
	.content {
		padding-top:100px;
	}
}

@media (min-width:1367px) {
	.content h2 {
		margin:0 0 50px;
	}
	
	.content .line h3 {
		margin:40px 0;
	}
}

@media (min-width:992px) and (max-width:1199px) {
	
	.content h1 {	
		display:none;
	}
	
	.content p {	
		font-size:21px;
	}
	
	.content .line:before, 
	.content .line:after {
		max-width:300px;
		width:300px;
	}
}

@media (min-width:768px) and (max-width:992px) {
	.content .line:before, 
	.content .line:after {
		max-width:200px;
		width:200px;
	}
}

@media (max-width:767px) {
	.content .line:before, 
	.content .line:after {
		display:none;
	}
}

/* COUNTDOWN */

.content #countdown {
	width:500px;
	margin:0 auto 60px;
}

@media (min-width:992px) and (max-width:1199px) {
	.content #countdown {
		width:450px;
	}
}

@media (min-width:768px) and (max-width:991px) {
	.content #countdown {
		width:400px;
	}
}

@media (max-width:767px) {
	.content #countdown {
		width:400px;
	}
}

@media (max-width:480px) {
	.content h2 {
		font-size:60px;
	}
	
	.content #countdown {
		width:99%;
	}
}

/*------------------------------
	FOOTER
------------------------------*/

.navbar-default {
	padding:5px 0;
	border:0;
	background-color:rgba(0,0,0,0.3);
}

.navbar-default .navbar-brand {
	color:#FFFFFF;
}

.navbar-default .navbar-nav > li > a {
    color:#FFFFFF;
	font-size:18px;
	font-weight:400;
}

.navbar-default .navbar-nav > li > a:before {
    color:rgba(255, 255, 255, 0);
	bottom:4px;
    content:"─";
    left:42%;
    position:absolute;
	transition:all 0.5s;
}

.navbar-default .navbar-nav > li > a:hover,
.navbar-default .navbar-nav > li > a:focus {
	color:#FFFFFF;
}

.navbar-default .navbar-nav > li > a:hover:before {
	color:#FFFFFF;
	text-shadow:10px 0 #FFFFFF, -10px 0 #FFFFFF;
}

.navbar-default .navbar-collapse {
	text-align:center;
}

.navbar-default .links {
	margin-bottom:0;
}

.navbar-default .links > li > a {
	border-radius:50%;
	border:1px solid transparent;
	color:#FFFFFF;
	text-align:center;
    display:inline-block;
    font-size:20px;
    padding-top:11px;
    width:50px;
    height:50px;
}

.navbar-default .links > li > a:hover {
	border-color:#FFFFFF;
}

@media (min-width:1367px) {
	.navbar-default {
		padding:15px 0;
	}
}

@media (min-width:768px) and (max-width:992px) {
	.navbar-default .navbar-nav > li > a {
		font-size:15px;
	}
}

@media (max-width:767px) {
	.navbar-default {
		padding:0;
		background-color:rgba(0,0,0,0.6);
	}
	
	.navbar-default .navbar-toggle:focus, 
	.navbar-default .navbar-toggle:hover {
		background-color:#FFFFFF;
		color:#333333;
	}
	
	.navbar-default .navbar-toggle {
		border-color:#FFFFFF;
		margin-top:10px;
		padding:5px 10px;
	}
	
	.navbar-default .navbar-collapse {
		text-align:center;
		border-color:rgba(255,255,255,0.3);
		background-color:rgba(0,0,0,0.6);
	}
	
	.navbar-default .links  {
		padding-top:15px;
	}
	
	.navbar-default .links > li > a {
		border-color:#FFFFFF;
	}
	
	.navbar-default .navbar-nav > li > a:hover:before {
		color:transparent;
		text-shadow:none;
		transition-duration:0.5s;
	}
}

/*------------------------------
	MODAL
------------------------------*/

.modal-dialog {
	width:100%;
	position:absolute;
	text-align:center;
	background-color:#5AA4A5;
	padding-bottom:30px;
	margin:0;
}

.modal {
	overflow:hidden;
	padding:0 !important;
}

.modal h3 {
	font-size:46px;
	font-weight:200;
	margin-bottom:30px;
}

button.close {
	font-size:36px;
	margin-top:30px;
}

.modal p {
	font-weight:200;
	font-size:18px;
}

@media (max-width:767px) {
	.modal h3 {
		font-size:30px;
		margin-bottom:20px;
	}
	
	button.close {
		font-size:28px;
		margin-top:22px;
	}
}

/* SUBSCRIBE MODAL */

#subscribe.modal p {
	text-align:left;
	margin:20px 0 0;
}

#subscribe.modal .form-inline {
	margin-top:30px;
}

#subscribe.modal .form-inline .form-control {
	background-color:#FFFFFF;
	width:260px;
	height:36px;
	box-shadow:none;
}

#subscribe.modal .form-inline .form-control:focus {
	border-color:#FFFFFF;
}

#subscribe.modal .form-control::-moz-placeholder {
	color:#FFFFFF;
}

#subscribe.modal .btn-submit {
	background-color:transparent;
	border-color:#FFFFFF;
	transition:all 1s;
	padding:6px 12px;
}

#subscribe.modal .btn-submit:hover {
	background-color:#FFFFFF;
}

@media (min-width:992px) and (max-width:1199px) {
	#subscribe.modal .form-inline .form-control {
		width:190px;
	}
}

@media (min-width:768px) and (max-width:991px) {
	#subscribe.modal .form-inline .form-control {
		width:300px;
	}
}

@media (max-width:767px) {
	#subscribe.modal .form-inline {
		margin-top:20px;
	}
	
	#subscribe.modal .form-inline .form-control {
		margin:0 auto;
    	text-align:center;
	}
}

@media (max-width:568px) {
	#subscribe.modal .subscribe-image {
		width:100%;
	}
	
	#subscribe.modal .subscribe-text {
		width:100%;
	}
	
	#subscribe.modal p {
		text-align:center;
		margin:0;
	}
}

/* SERVICES MODAL */

#services.modal p {
	margin-bottom:30px;
}

@media (max-width:767px) {
	#services.modal h4 {
		margin-top:30px;
	}
}

@media (max-width:480px) {
	#services.modal .row > div {
		width:100%;
		float:none;
	}
}

/* CONTACT MODAL */

#contact.modal .modal-dialog .row {
	text-align:left;
}

#contact.modal #map-canvas {
  	height:350px;
  	margin:0;
  	padding:0;
}

#contact.modal h4 {
	font-size:24px;
	font-weight:200;
}

#contact.modal address {
	font-size:18px;
	font-weight:300;
}

#contact.modal a {
	text-decoration:underline;
	font-size:18px;
	font-weight:300;
}

#contact.modal a:hover {
	text-decoration:none;
}